<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<h1 align="center">SocialPostPlatform</h1>
		<div class="timezone">
		<p class="text-center">
			<b>YOUR TIME ZONE: <%= Time.zone.name %></b><br>
			<hr>
			<%= link_to "Change", edit_user_registration_path, class: "btn btn-default btn-info btn-block" %>
		</p>
		</div>
	</div>
	<div class="col-md-4"></div>
</div>

<div class="row">
	<div class="col-md-8">
		<h3 class="text-center">Scheduled Posts</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam esse cum quaerat repellendus natus qui animi aliquid dicta reprehenderit ratione consequatur praesentium tenetur deserunt quibusdam temporibus porro placeat sapiente voluptatum culpa aut rerum enim, similique, ullam incidunt. Doloremque, atque qui aut, accusamus autem eius tempore officiis maxime est at fuga.</p>
	</div>
	<!-- history -->
	<div class="col-md-4">
		<h3 class="text-center">Your Post History</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, quaerat!</p><br>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit iure quas dolor a mollitia ab?</p><br>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quam quaerat explicabo. Nostrum, adipisci, assumenda asperiores aperiam quis quia amet.</p>
	</div>
</div>